<%= render('layouts/errors', :object => @link) %>

<h1>Add Link</h1>

<%=form_for @link do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
