<!DOCTYPE html>
<html>
<head>
  <title>SlackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="jumbotron topper">
  <% if current_user %>
    <p class="right">Logged in as <%= current_user.name %></p>
    <p> <%= link_to "Log out", session_path("current"), :method => 'delete', :class => "right" %> </p>
  <% else %>
    <%= link_to "Create New Profile", new_user_path, :class => "right" %>
    <%= link_to "Login", new_session_path, :class => "right" %>
  <% end %>

  <div class="container">
    <%= yield(:jumbo) %>
  </div>
</div>

<div class="container" >
  <%= yield %>
</div>

</body>
</html>
